body{
	font-family:new times roman;
	width : 60%;
	margin : auto;
	text-align: center
	
	}
h1{
	width:60%;
	text-align:center
}
h2{
	width:60%;
	text-align:center
}
h4{
	width:60%;
	text-align:center
	
}